.auth{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(98,166,221,1) 0%, rgba(54,170,247,1) 0%, rgba(106,166,245,1) 48%, rgba(149,191,245,1) 73%, rgba(140,177,224,1) 100%, rgba(96,221,228,1) 100%, rgba(255,118,118,1) 100%);
  opacity: .8;
  .form{
    width: 60%;
    height: 80%;
    background-color: #ffff;
    display: flex;
    .content{
      width: 50%;
    }
    .logo{
      width: 50%;
      background-color: blue;
    }
    @media screen and (max-width:1400px){
      width: 90%;
    }
    @media screen and (max-width:900px){
      width: 80%;
      .content{
        width: 100%;
      }
      .logo{
        display: none;
      }
    }
    @media screen and (max-width:600px){
      width: 90%;
    }
    .button-login{
      transform: scale(1);
      transition: .2s;
      opacity: .9;
      font-weight: 500;
      cursor: pointer;
      &:active{
        transform: scale(.99);
      }
      &:hover{
        opacity: 1;
      }
      
    }
    .form-group{
      .icon-input-left{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
      }
      div{
        .input[type='password']::placeholder{
          color:red 
        }
      }
      &:focus-within{
        div{
          transition: .4s;
          border: 1px solid rgb(50, 139, 255);
          .input{
            
          }
        }
      }
    }

  }
}